/**
 * "Btn" component styles
 */
@import '../settings';

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  border: none;
  background: transparent;
  touch-action: manipulation;
  position: relative;
  padding: 0;
  &:hover {}
  &:active {}
  /**
   * Size
   */
  &.btn--xl {}
  &.btn--lg {}
  &.btn--md {
    min-height: 3.42857142rem;
    font-size: 1rem;
    padding: 1.215em 2.5em;
  }
  &.btn--sm {}
  &.btn--xs {}
  /**
   * Shape
   */ 
  &.btn--round {
    border-radius: 1.85em;
  }
  &.btn--circle {
    width: 3.42857142rem;
    height: 3.42857142rem;
    border-radius: 50%;
    padding: 0;
  }
  /**
   * Color
   */
  &.btn--accent {
    color: $white;
    background-color: $accent;
    // &:hover {}
    // &:active {}
  }
  &.btn--primary {
    color: $white;
    background-color: $primary;
    // &:hover {}
    // &:active {}
  }
  &.btn--white {
    color: $black;
    background-color: $white;
    // &:hover {}
    // &:active {}
  }
  /**
   * Other
   */
  &.btn--wide {
    display: block;
    width: 100%;
  }
}